.card {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  max-width: 430px;
  padding: -10px;
}
.card-body {
  padding: 15px 10px 5px 10px;
}
img {
  max-width: 275px;
  display: block;
  margin: 0 auto;
}
h1,
.h2 .dayTime {
  color: #790a2d;
  margin-bottom: 0;
}
.temp {
  margin-right: 15px;
  display: inline;
}
.btn {
  font-family: "Quicksand", sans-serif;
}
.col-3,
.col-5,
.col-2 {
  color: #ffffff;
}

li {
  background-image: linear-gradient(270deg, #93a5cf 0%, #cde7d9e3 100%);
  font-family: "Quicksand", sans-serif;
}
.list-group-item {
  cursor: default;
  padding: 5px 10px;
}
.lines:hover {
  background-image: linear-gradient(to top, #8b90d6 0%, #5096b6 100%);
  transition: all 150ms ease-in-out;
  cursor: default;
}
.far,
.fas {
  color: #790a2d;
}

.cityWeather {
  margin-bottom: 0;
}

.currentLocation {
}

.tag {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: #790a2d;
}
